<!DOCTYPE html>
<html>
  <head>
    <title>WinnieLibs!!</title>
  </head>
  <Body>
    <h1>Welcome to the greatest person WinnieLibs!!</h1>
      <a href="/form">Click here for story one!</a>;
      <a href="/formTwo">Click here for second story!</a>;
  </Body>
</html>